.auth-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    min-height: calc(100vh - 56px);
}

.auth-modal {
    background-color: #fff;
    box-shadow: 10px 10px 50px -10px #777;
    display: flex;
}

.auth-modal-body {
    padding: 64px;
}

.auth-modal-body input {
    width: 400px;
}

.auth-forgot {
    font-size: .8em;
    color: #555;
    float: left;
    cursor: pointer;
}

.auth-forgot:hover {
    text-decoration: underline;
}

.auth-error {
    color: #e22;
    font-size: .9em;
    margin-bottom: 4px;
}

@media only screen and (max-width: 450px) {
    .auth-modal-body input {
        width: auto;
    }

    .auth-modal {
        width: 100vw;
    }
}
